# [ignore-everything]
*

# Dont Ignore
!README.md
!aliases.sh
!common-logic.sh
!exports.sh
!install-zsh.sh
!install-oh-my-zsh.sh
!.bashrc
!.gitignore
!.tmux.conf
!.vimrc
!.face
!.config
!.config/nvim
!.config/nvim/**
!.zshrc

